@model Moot.Service.ViewModels.ContactViewModel 
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(contact=>contact.Name)
        @Html.TextBoxFor(contact=>contact.Name)
    </div>
    <div>
        @Html.LabelFor(contact=>contact.Email)
        @Html.TextBoxFor(contact=>contact.Email)
    </div>
    <div>
        @Html.LabelFor(contact=>contact.Title)
        @Html.TextBoxFor(contact=>contact.Title)
    </div>
    <div>
        @Html.LabelFor(contact=>contact.Body)
        @Html.TextAreaFor(contact=>contact.Body)
    </div>
    <div>
        <input type="submit" value="Send"/>
    </div>
}
